@import '@/assets/styles/tools/mixins';

.intro {
  overflow: hidden;
  padding: rem(75) 0 0;
  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: rem(20);
    font-size: rem(46);
    font-weight: 900;
    line-height: 115%;
    text-transform: uppercase;
    span {
      display: block;
      color: transparent;
      -webkit-text-stroke: 1px var(--color-black);
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
  }
  &__description {
    max-width: 90%;
    font-size: rem(18);
    line-height: 135%;
  }
  &__sun {
    position: absolute;
    top: 8rem;
    right: 2rem;
    width: rem(75);
    height: rem(75);
    background: #fff;
    border-radius: 50%;
  }
  &__decoration {
    position: relative;
    width: 100%;
    min-height: rem(125);
    margin-top: rem(75);
    &-el-1 {
      position: absolute;
      z-index: 5;
      left: 50%;
      bottom: 0;
      width: rem(2500);
      height: rem(125);
      background: url('@/assets/images/intro/el-1-d.svg') bottom center no-repeat;
      background-size: contain;
      transform: translateX(-52%);
      animation: intro-el-1 20s infinite ease;
    }
    &-el-2 {
      position: absolute;
      z-index: 4;
      left: 50%;
      bottom: rem(10);
      width: rem(2500);
      height: rem(125);
      background: url('@/assets/images/intro/el-2-d.svg') bottom center no-repeat;
      background-size: contain;
      transform: translateX(-40%);
      animation: intro-el-2 18s infinite ease-out;
    }
  }
  @keyframes intro-el-1 {
    0% {
      transform: translateX(-52%);
    }
    50% {
      transform: translateX(-48%) translateY(10%);
    }
    100% {
      transform: translateX(-52%);
    }
  }
  @keyframes intro-el-2 {
    0% {
      transform: translateX(-40%);
    }
    50% {
      transform: translateX(-60%) translateY(15%);
    }
    100% {
      transform: translateX(-40%);
    }
  }
}
