@font-face {
  font-family: 'GothamPro';
  font-weight: 700;
  src: url('~assets/fonts/Gothampro/gothamprobold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  src: url('~assets/fonts/Helvetica/HelveticaNeueCyr-Black.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ExtraBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ExtraBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ExtraBlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('~assets/fonts/TTNorms/TTNormsPro-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~assets/fonts/TTNorms/TTNorms-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~assets/fonts/TTNorms/TTNorms-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
