@font-face {
  font-family: 'Comfortaa';
  src: url('~assets/fonts/Comfortaa/Comfortaa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('~assets/fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
