build/*
dist/*
assets/*
node_modules
.helm
.nuxt
.husky
idea
werf.yaml
werf-giterminism.yaml
yarn.lock
yarn-error.log
package.json
.idea
.editorconfig
.prettierignore
.eslintignore
.babelrc
.eslintrc.js
.gitlab-ci.yml
.prettierrc.js
.stylelintrc.js
commitizen.js
jest.config.js
nuxt.config.js
stylelint.config.js
README.md
commitlint.config.js
commitlint.js
static
.gitignore
CHANGELOG.md
.gitlab
.env
