@import '@/assets/styles/tools/mixins';

.line {
  @include _992 {
    min-height: rem(175);
  }
  @include _2k {
    min-height: rem(150);
  }

  position: relative;
  overflow: hidden;
  max-width: rem(2500);
  min-height: rem(100);
  margin: 0 auto;
  background: var(--color-yellow);
  &::before {
    @include _992 {
      width: rem(3000);
      height: rem(175);
    }
    @include _2k {
      width: rem(3500);
      height: rem(150);
    }

    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    width: rem(1500);
    height: rem(100);
    background: url('@/assets/images/line/top.svg') top center no-repeat;
    background-size: contain;
    transform: translateX(-40%);
    animation: line 25s infinite ease-out;
  }
  @keyframes line {
    0% {
      transform: translateX(-52%);
    }
    50% {
      transform: translateX(-48%);
    }
    100% {
      transform: translateX(-52%);
    }
  }
}
