:root {
  // Цвета
  // --color-yellow: #ffc846;
  --color-yellow: #a1a1a1;
  --color-purple: #ff5246;
  --color-black: #1a1a1c;
  --color-grey: #a1a1a1;
  --color-white: #fff;
  --color-grey-hover: #8a8a8a;

  // Общие переменные
  --border-radius: 12px;
  --border-radius-sm: 6px;
}
