:root {
  // Цвета
  --color-yellow: #fc0;
  --color-grey: #a1a1a1;
  --color-white: #fff;
  --color-grey-hover: #8a8a8a;
  
  // Общие переменные
  --border-radius: 12px;
  --border-radius-sm: 6px;
}
