@import '@/assets/styles/tools/mixins';

.loader {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  animation: loader 1.5s infinite linear;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: loader-spin 1.5s infinite ease-in-out;
  }

  &::after {
    animation-direction: reverse;
  }

  &-spin::before,
  &-spin::after {
    content: '';
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    background-color: rgba(193, 14, 14, 0.7);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    left: 0%;
    transform: scale(0.2);
  }
  50% {
    left: 50%;
    transform: scale(1);
  }
  100% {
    left: 100%;
    transform: scale(0.2);
  }
}
